RewriteEngine on
# hide files git and composer
RedirectMatch 404 /\.git
RedirectMatch 404 /\.composer\.
RedirectMatch 404 /.bowerrc

# ds
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#/php -> /
RewriteRule . index.php